<div class="card">
  <div class="card-block">
    <div class="row custom_row">
      <div class="col-xs-1 custom">
        <%= image_tag(message.user.avatar.url(:small)) %>
      </div>
      <div class="col-lg-10">
        <p class="card-text">
          <span class="text-muted"><%= message.user.first_name %> at <%= message.timestamp %> says</span><br>
          <%= message.body %>
        </p>
      </div>
    </div>
  </div>
</div>
